@model IEnumerable<_2013114400_ENT.Entities.Llanta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Carros.NumSerieChasis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSerie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Carros.NumSerieChasis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumSerie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LlantaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LlantaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LlantaId })
        </td>
    </tr>
}

</table>
